/* Registration.css */

.container {
    width: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    
  }

  .error{
    color: red;
    font-weight: bold;
    font-size: smaller;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
  }
  
  .input {
    width: 96%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .button {
    /* padding: 10px 20px; */
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 90px;
    height: 20px;
    margin: 0 auto;
   
  }
  
  .success-message {
    text-align: center;
    color: green;
  }
  