header {
  position: sticky;
  background-color: #333;
  padding: 10px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  display: inline-block;
  margin-right: 15px;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.navbar li a:hover {
  background-color: #555;
  border-radius: 5px;
}

.auth-buttons {
  display: flex;
}

.auth-buttons a {
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
  .auth-buttons {
    margin-top: 10px;
  }
  .navbar li {
    margin-bottom: 10px;
  }
}
